* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* overflow: hidden; */
}

.Conatiner {
  display: flex;
  justify-content: space-between;
}

.logo_Sidebar {
  font-family: "Goldman", cursive;
  color: #ffffff;
  font-weight: 400;
  font-size: 2.188rem;
  margin: 1rem 0 1rem 0rem;
}

.Sidebar_Footer {
  font-family: "Goldman", cursive;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  margin: 2rem 0 0 0.5rem;
}

.Sidebar_MainContainer {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  width: 16rem;
  background-color: #baabab;
}
.Sidebar_InnerContainer {
  margin: 0.5rem 0 2rem 2rem;
  border: 1px;
  border-radius: 0.625rem;
}
.Sidebar_InnerContainer a {
  display: flex;
  padding: 0.2rem;
}

/* ...........  Lipstick ..................... */

.MainContianer {
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}

.Navbar_Container {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.navbarSearchContainer {
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  border-radius: 10px;
}

.SearchbarInput {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
}

.LipstickContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
  /* flex-wrap: nowrap; */
}

.LipstickContainer a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #828282;
  background-color: #f5f6f6;
  font-size: 0.9rem;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
}

/* ..................Countour Container....... */
.CountourContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.Navbar_Container img {
  margin: 0 auto;
}

.Sidebar_InnerContainer a.selected {
  width: 90%;
  border: 2px solid #947474;
  border-radius: 0.8rem;
}

.LipstickContainer a.selectedlipstick {
  border-radius: 0.8rem;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
  background-color: #baabab;
  color: white;
}

.mateContainer {
  display: flex;
 justify-content: space-between;
}

.Camera img {
  width: 27rem;
  height: 18rem;
  margin-left: 5rem;
}
.contentlipstick {
  width: 60%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  height: 400px;
}

.contentlipstick:hover {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #baabab rgba(255, 255, 255, 0.8);
}
.contentlipstick::-webkit-scrollbar {
  width: .6rem;
  /* height: 1rem; */
}
.contentlipstick::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.2rem;
}
.contentlipstick:hover::-webkit-scrollbar-thumb {
  background-color: #baabab;
}
.lipstickItem {
  display: flex;
  flex-direction: column;
  width: 11rem;
  padding: 1rem;
  align-items: center;
  text-align: center;
  margin-top: -1rem !important;
}

.lipstickItem .img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.lipstickItem .icon {
  margin-bottom: 0.5rem;
}

.lipstickItem h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.lipstickItem p {
  font-size: 0.8rem;
  color: #888;
}

@media only screen and (max-width: 1050px) {
  .mateContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .contentlipstick {
    width: 70%;
  }
  .Camera img {
    width: 16rem;
    display: flex;
    justify-content: space-between;
  }
  .lipstickItem {
    width: 9rem;
    margin-right: 1rem;
  }
  .lipstickItem h3 {
    font-size: 1rem;
  }
  .lipstickItem p {
    font-size: 0.6rem;
  }
  .LipstickContainer {
    overflow-x: hidden;
    font-size: 0.1rem;
    width: 90%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
  }
  .LipstickContainer:hover {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #baabab rgba(255, 255, 255, 0.8);
  }
  .LipstickContainer::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.3rem;
  }
  .LipstickContainer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.2rem;
  }
  .LipstickContainer:hover::-webkit-scrollbar-thumb {
    background-color: #baabab;
  }
}

@media only screen and (max-width: 1100px) {
  .LipstickContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
    font-size: 1rem;
  }
}
