<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://cdn.socket.io/4.6.0/socket.io.min.js"
            integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <link
            href="https://fonts.googleapis.com/css?family=Goldman"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="../static/css/style.css" />
        <script src="../static/js/script.js"></script>

        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,700&display=swap"
            rel="stylesheet"
        />
        <title>Virtual Makeup</title>
    </head>
    <body>
        <div class="outerWrapper">
            <div class="sideBar" id="sideBar">
                <div>
                    <div class="closed branding">beau</div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="ai Beauty"
                        onclick="sideBarItemClick('ai Beauty')"
                    >
                        <img src="../static/img/aibeauty_sidebar.png" />
                        <p>AI Beauty</p>
                    </div>
                </div>
                <div>
                    <div
                        id="lipstick"
                        class="closed"
                        onclick="sideBarItemClick('lipstick')"
                    >
                        <img src="../static/img/lipstick_sidebar.png" />
                        <p>lipstick</p>
                    </div>
                </div>
                <div class="item__sidebar">
                    <div
                        class="closed"
                        id="contour"
                        onclick="sideBarItemClick('contour')"
                    >
                        <img src="../static/img/concealer_sidebar.png" />
                        <p>contour</p>
                    </div>
                </div>

                <div>
                    <div
                        class="closed"
                        id="eye shadow"
                        onclick="sideBarItemClick('eye shadow')"
                    >
                        <img src="../static/img/eyeshadow_sidebar.png" />
                        <p>eye shadow</p>
                    </div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="foundation"
                        onclick="sideBarItemClick('foundation')"
                    >
                        <img src="../static/img/foundation_sidebar.png" />
                        <p>foundation</p>
                    </div>
                </div>
                <div class="item__sidebar">
                    <div
                        class="closed"
                        id="blush"
                        onclick="sideBarItemClick('blush')"
                    >
                        <img src="../static/img/blush_sidebar.png" />
                        <p>blush</p>
                    </div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="mascara"
                        onclick="sideBarItemClick('mascara')"
                    >
                        <img src="../static/img/mascara_sidebar.png" />
                        <p>mascara</p>
                    </div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="eye brow pencil"
                        onclick="sideBarItemClick('eye brow pencil')"
                    >
                        <img src="../static/img/eyebrowpencil_sidebar.png" />
                        <p>eye brow pencil</p>
                    </div>
                </div>

                <div>
                    <div
                        class="closed"
                        id="concealer"
                        onclick="sideBarItemClick('concealer')"
                    >
                        <img src="../static/img/concealer_sidebar.png" />
                        <p>concealer</p>
                    </div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="hair color"
                        onclick="sideBarItemClick('hair color')"
                    >
                        <img src="../static/img/haircolor_sidebar.png" />
                        <p>Hair color</p>
                    </div>
                </div>

                <div>
                    <div class="closed branding">powered by beau</div>
                </div>
            </div>

            <div class="page">
                <div class="page_innerWrapper">
                    <div>
                        <div class="header" id="header">Header</div>
                        <div class="shades" id="shades"></div>
                    </div>
                    <div class="contentContainer">
                        <div class="products" id="products"></div>
                        <div id="container">
                            <img
                                id="photo"
                                class="processedImg"
                                src="../static/img/white-denim-jacket-front-view-streetwear-fashion.jpg"
                            />
                            <video
                                playsinline
                                autoplay
                                muted
                                id="videoElement"
                            ></video>
                            <canvas
                                id="canvas"
                                class="canvas"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: -3;
                                "
                            ></canvas>
                            <div id="cart" class="cart"></div>
                        </div>
                    </div>
                    <!-- 
                    <div class="mainImage_innerWrapper">
                        <div style="height: 90vh"></div>
                        <div
                            id="backButton"
                            class="backButton"
                            style="background-image: url('{{ url_for('static',  filename='img/back.svg')}}')"
                            onclick="reset()"
                        >
                            <img src="../static/img/back.svg" alt="" />
                        </div>
                    </div> -->
                </div>
            </div>
            <div id="selectedColors" class="selectedColors"></div>

            <div class="toggle">
                <div
                    class="hamburger"
                    id="hamburger"
                    onclick="handleOpenSideBar()"
                >
                    <i class="ri-menu-2-line"></i>
                </div>
                <div class="cross" id="cross" onclick="handleCloseSideBar()">
                    <i class="ri-close-line"></i>
                </div>
            </div>
        </div>
    </body>
</html>
