<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- External StyleSheets -->
        <link
            href="https://fonts.googleapis.com/css?family=Goldman"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,700&display=swap"
            rel="stylesheet"
        />
        <!-- Local CSS -->
        <link rel="stylesheet" href="../static/css/style.css" />
        <!-- <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        /> -->

        <title>Virtual Makeup</title>
    </head>
    <body>
        <div class="landingPage" id="landingPage">
            <div class="lp__outer__wrapper">
                <div class="lp__inner__wrapper">
                    <div class="lp__header__container">
                        <div class="lp__header">beau</div>
                    </div>
                    <div class="lp__categories-container">
                        <div class="lp__categories">
                            <div class="lp__section">
                                <div class="category lp__aibeauty">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('ai beauty')"
                                            src="../static/img/lp/lp__ai.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">aI beauty</div>
                                </div>
                                <div class="category lp__lipstick">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('lipstick')"
                                            src="../static/img/lp/lp__lipstick.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">lipstick</div>
                                </div>
                                <div class="category lp__contour">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('contour')"
                                            src="../static/img/lp/lp__contour.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">contour</div>
                                </div>
                                <div class="category lp__eyeshadow">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('eye shadow')"
                                            src="../static/img/lp/lp__eyeshadow.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">
                                        eye shadow
                                    </div>
                                </div>
                                <div class="category lp__foundation">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('foundation')"
                                            src="../static/img/lp/lp__foundation.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">
                                        foundation
                                    </div>
                                </div>
                            </div>
                            <div class="lp__section">
                                <div class="category lp__blush">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('blush')"
                                            src="../static/img/lp/lp__blush.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">blush</div>
                                </div>
                                <div class="category lp__mascara">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('mascara')"
                                            src="../static/img/lp/lp__mascara.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">mascara</div>
                                </div>
                                <div class="category lp__eyebrowpencil">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('eye brow pencil')"
                                            src="../static/img/lp/lp__eyebrowpencil.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">
                                        eye brow pencil
                                    </div>
                                </div>
                                <div class="category lp__concealer">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('concealer')"
                                            src="../static/img/lp/lp__concealer.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">concealer</div>
                                </div>
                                <div class="category lp__haircolor">
                                    <div class="category__img">
                                        <img
                                            onclick="handleOnClickcategory('hair color')"
                                            src="../static/img/lp/lp__haircolor.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="category__title">
                                        hair color
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lp__footer">powered by beau</div>
                </div>
            </div>
        </div>

        <div class="app" id="app">
            <div class="sideBar" id="sideBar">
                <div>
                    <div class="closed branding">beau</div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="ai beauty"
                        onclick="sideBarItemClick('ai beauty')"
                    >
                        <img src="../static/img/aibeauty_sidebar.png" />
                        <p>AI Beauty</p>
                    </div>
                </div>
                <div>
                    <div
                        id="lipstick"
                        class="closed"
                        onclick="sideBarItemClick('lipstick')"
                    >
                        <img src="../static/img/lipstick_sidebar.png" />
                        <p>lipstick</p>
                    </div>
                </div>
                <div class="item__sidebar">
                    <div
                        class="closed"
                        id="contour"
                        onclick="sideBarItemClick('contour')"
                    >
                        <img src="../static/img/concealer_sidebar.png" />
                        <p>contour</p>
                    </div>
                </div>

                <div>
                    <div
                        class="closed"
                        id="eye shadow"
                        onclick="sideBarItemClick('eye shadow')"
                    >
                        <img src="../static/img/eyeshadow_sidebar.png" />
                        <p>eye shadow</p>
                    </div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="foundation"
                        onclick="sideBarItemClick('foundation')"
                    >
                        <img src="../static/img/foundation_sidebar.png" />
                        <p>foundation</p>
                    </div>
                </div>
                <div class="item__sidebar">
                    <div
                        class="closed"
                        id="blush"
                        onclick="sideBarItemClick('blush')"
                    >
                        <img src="../static/img/blush_sidebar.png" />
                        <p>blush</p>
                    </div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="mascara"
                        onclick="sideBarItemClick('mascara')"
                    >
                        <img src="../static/img/mascara_sidebar.png" />
                        <p>mascara</p>
                    </div>
                </div>
                <div>
                    <div
                        class="closed eyebrowpencil"
                        id="eye brow pencil"
                        onclick="sideBarItemClick('eye brow pencil')"
                    >
                        <img src="../static/img/eyebrowpencil_sidebar.png" />
                        <p>eye brow pencil</p>
                    </div>
                </div>

                <div>
                    <div
                        class="closed"
                        id="concealer"
                        onclick="sideBarItemClick('concealer')"
                    >
                        <img src="../static/img/concealer_sidebar.png" />
                        <p>concealer</p>
                    </div>
                </div>
                <div>
                    <div
                        class="closed"
                        id="hair color"
                        onclick="sideBarItemClick('hair color')"
                    >
                        <img src="../static/img/haircolor_sidebar.png" />
                        <p>Hair color</p>
                    </div>
                </div>

                <div class="closed branding2">
                    <div class="branding__footer">powered by</div>
                    <div class="branding__footer__logo">beau</div>
                </div>
            </div>

            <div class="page" id="page">
                <div class="page_innerWrapper">
                    <div>
                        <div class="header__container">
                            <div class="header" id="header">Header</div>
                            <div class="search">
                                <img src="../static/img/search.svg" alt="" />
                                <span>Search</span>
                            </div>
                        </div>

                        <div class="shades" id="shades"></div>
                    </div>
                    <div class="contentContainer">
                        <div class="products" id="products"></div>
                        <div id="container" class="container">
                            <!-- <img id="photo" class="processedImg" /> -->
                            <canvas id="canvasOutput"></canvas>
                            <div class="loaderContainer" id="loaderContainer">
                                <img
                                    id="loader"
                                    class="loader"
                                    src="../static/img/loader.svg"
                                />
                            </div>

                            <video
                                playsinline
                                autoplay
                                muted
                                id="videoInput"
                            ></video>
                            <canvas
                                id="canvas"
                                class="canvas"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: -3;
                                    visibility: hidden;
                                "
                            ></canvas>
                            <div class="cartContainer">
                                <div class="cart__title">Current Products</div>
                                <div id="cart" class="cart">
                                    No product is selected.
                                </div>
                                <button class="add_to_cart">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="toggle">
                <div
                    class="hamburger"
                    id="hamburger"
                    onclick="handleOpenSideBar()"
                >
                    <i class="ri-menu-2-line"></i>
                </div>
                <div class="cross" id="cross" onclick="handleCloseSideBar()">
                    <i class="ri-close-line"></i>
                </div>
            </div>
        </div>

        <!-- External Scripts -->
        <script
            src="https://cdn.socket.io/4.6.0/socket.io.min.js"
            integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
            crossorigin="anonymous"
        ></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/opencv.js/6.0.0/opencv.js"></script> -->

        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh"></script>

        <!-- Local JS -->
        <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->

        <script src="../static/js/script.js"></script>

        <script
            async
            src="https://docs.opencv.org/4.x/opencv.js"
            onload="onOpenCvReady();"
            type="text/javascript"
        ></script>
    </body>
</html>
