@font-face {
    font-family: visbyround;
    src: url(visby.ttf);
}

body {
    margin: 0;
    font-family: visbyround;
}

/* .canvas {
    width: 100px;
    height: 100px;
} */
.outerWrapper {
    width: 100vw;
    display: flex;
}

.processedImg {
    width: 100%;
}
.mainImage {
    background-color: rgb(85, 38, 38);
    height: 100vh;
    width: 75vw;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;

    /* background-image: url("../img/samples.jpg"); */
}

.mainImage_innerWrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainImage > img {
    object-fit: fill;
}

.sideBar {
    max-width: 70vw;
    width: 25vw;
    height: 20vh;
    display: none;

    background-color: white;
}

.item__sidebar {
    align-items: center;
    text-align: center;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin-bottom: 10px;
}
.line > p {
    margin: -12px 0px 0px 0;
}

.colors {
    display: flex;
    flex-direction: row;
    margin-bottom: 12%;
}

.color {
    width: 21px;
    margin-left: 10px;
    border-radius: 50%;
    height: 21px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px #272727;
}

.addborder {
    box-sizing: border-box;
    border: 3px solid #f5eded;
    box-shadow: inset 0px 0px 0px 0px #272727;
}

.selectedColors {
    background-color: #d3d3d3;
    width: 70vw;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 2.5vw;
    display: none;
    justify-content: space-around;
}

.selectedColors_item {
    display: flex;
}

.selectedColors_item_color {
    width: 18px;
    margin-left: 10px;
    border-radius: 50%;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px #272727;
}

.color:first-child {
    margin-left: 0px;
}
.closed {
    font-family: visbyround;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    height: 16.66666vh;
    cursor: pointer;
    background-color: #1f2022;
    color: #d3d3d3;
    text-transform: uppercase;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.expanded {
    min-height: 70vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;

    cursor: pointer;
    background-color: #1f2022;
    color: #d3d3d3;
    text-transform: uppercase;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.expanded > span {
    padding-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.backButton {
    /* position: absolute;
    width: 50vw;
    left: 50vw; */
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url(../img/back.svg);
    background-repeat: no-repeat;
}
.backButton:hover {
    height: 41px;
    width: 41px;
}

.taptotry {
    font-size: 8px;
}

#closed1 {
    background-image: url("../img/concealer.png");
}
#closed2 {
    background-image: url("../img/lipstick.png");
}
#closed3 {
    background-image: url("../img/foundation.png");
}
#closed4 {
    background-image: url("../img/blush.png");
}
#closed5 {
    background-image: url("../img/eyebrowliner.png");
}
#closed6 {
    background-image: url("../img/airecommendation.png");
}

#expanded1 {
    background-image: url("../img/concealer.png");
}
#expanded2 {
    background-image: url("../img/lipstick.png");
}
#expanded3 {
    background-image: url("../img/foundation.png");
}
#expanded4 {
    background-image: url("../img/blush.png");
}
#expanded5 {
    background-image: url("../img/eyebrowliner.png");
}
#expanded6 {
    background-image: url("../img/airecommendation.png");
}

.hamburger {
    position: absolute;
    top: 1%;
    color: #fff;
    left: 1%;
}

.cross {
    display: none;
    position: absolute;
    top: 1%;
    color: #fff;

    left: 1%;
}
.toggle {
    display: none;
}
@media only screen and (max-width: 786px) {
    .toggle {
        display: block;
    }
    .sideBar {
        display: block;
        position: absolute;
        max-width: 50vw;
        width: 50vw;
    }
    .mainImage {
        width: 100vw;
    }
    .expanded > span {
        font-size: 15px;
    }
    .closed {
        font-size: 16px;
    }
}

@media screen and (min-width: 786px) {
    .sideBar {
        display: block;
    }
}

.aiRec {
    display: flex;
}

.black_race {
    padding: 5px 15px;
}
.brown_race {
    padding: 5px;
}
.white_race {
    padding: 5px;
}

.black_race > span {
    font-size: 1rem;
}

.brown_race > span {
    font-size: 1rem;
}
.white_race > span {
    font-size: 1rem;
}

.race-selected {
    background-color: #95929278;

    border-radius: 10px;
}
