@font-face {
    font-family: visbyround;
    src: url(visby.ttf);
}

body {
    margin: 0;
    font-family: visbyround;

    background-color: #faf9f6;
}

.landingPage {
    background-color: #828282;
    width: 100vw;
    height: 100vh;
    font-family: 'Goldman';
    background-image: linear-gradient(#baabab, #947474);
}
.lp__outer__wrapper {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 100%;
    display: table;
}

.lp__inner__wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.lp__header {
    color: #fff;
    font-size: 2rem;
}

.lp__categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lp__section {
    display: flex;
    height: 100%;
}

.category {
    margin: 1em;
    background-color: #fff;
    min-height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.category__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    margin: 10px;
}
.category__title {
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 5px;
}
.category__img img {
    max-width: 100%;
    width: 200px;
    cursor: pointer;
}

.lp__footer {
    color: #fff;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #baabab;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.app {
    display: flex;
    justify-content: space-between;
}
.loaderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    width: 50%;
    height: 50%;
}

.processedImg {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: none;
}
.page {
    background-color: #faf9f6;

    width: 80vw;

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;

    /* background-image: url("../img/samples.jpg"); */
}

.page_innerWrapper {
    width: 90%;
    margin: 0 auto;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
}

.mainImage_innerWrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.comingSoonToggle {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.comingSoonToggle div {
    font-size: x-large;
    margin-top: 10px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 1em 0;
    font-size: 1.3em;
    text-align: left;
    align-items: center;
    display: flex;
    text-transform: capitalize;
}

.search {
    padding: 0em 5em 0 1em;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: #dcdcdc;
}

.search img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.shades {
    height: 10%;
    padding: 1em 0;
    display: flex;
}

.shade {
    display: flex;
    align-items: center;

    margin-right: 10px;
    padding: 0.8em 2em;
    background-color: #f5f6f6;
    text-transform: capitalize;
    border-radius: 5px;
    color: #828282;
    cursor: pointer;
    font-size: 1rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip img {
    cursor: pointer;
    margin: 3px 0 0 3px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 1em;
    border: 2px solid #947474;
    font-weight: 900;
    font-size: 0.8em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.raceHeader {
    margin-right: 10px;
    padding: 0.7em 1.5em;
    background-color: #f5f6f6;
    text-transform: capitalize;
    border-radius: 5px;
    color: #828282;

    font-size: 0.8rem;
}
.shade:hover {
    background-color: #947474;
    color: #f5f6f6;
}

.selectedShade {
    background-color: #947474;
    color: #f5f6f6;
}

.page > img {
    object-fit: fill;
}

.products {
    display: flex;
    width: 50%;
    height: 70dvh;
    flex-wrap: wrap;
    margin-top: 10px;

    justify-content: left;
    overflow-y: scroll;
}

.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    cursor: pointer;
    margin: 0.2em;
    background-color: #fff;
    border-radius: 8px;
}
.product:hover {
    outline: 2px solid #947474;
}
.productBorder {
    outline: 2px solid #947474;
}

.product img {
    width: 90px;
    height: 90px;
}

.product__title {
    height: 10%;
    font-weight: bold;
    font-size: 0.9rem;
}

.product__content {
    font-size: 0.8em;
    color: #828282;
    margin-bottom: 10px;
}
.comingSoon {
    background-color: #baabab80;
    height: fit-content;
    border-radius: 20%;
}

.color {
    width: 18px;
    margin: 0.3em 0;
    border-radius: 50%;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px #272727;
}

.cartContainer {
    height: 30dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart {
    height: 50%;

    overflow-y: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #baabab;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.cart__item {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.cart__item__img {
    width: 50px;
    height: 50px;
}
.cart__title {
    font-weight: 700;
    text-align: left;
    padding: 0.5em 0;
    font-size: 1.2em;
}
.add_to_cart {
    margin: 2em 0;
    background-color: #baabab;
    width: 80%;
    padding: 1em 0em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.cart__item__title {
    width: 55%;
}

.cart__item__price {
    font-weight: 900;
}

.remove {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.comingSoon {
    background-color: #baabab80;
    height: fit-content;
    border-radius: 20%;
}

.sideBar {
    max-width: 70vw;
    width: 20vw;
    height: 20vh;
    display: none;
    z-index: 4;
    background-color: white;
}

.item__sidebar {
    align-items: center;
    text-align: center;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin-bottom: 10px;
}
.line > p {
    margin: -12px 0px 0px 0;
}

.addborder {
    box-sizing: border-box;
    border: 3px solid #f5eded;
    box-shadow: inset 0px 0px 0px 0px #272727;
}

.selectedColors {
    background-color: #d3d3d3;
    width: 70vw;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 2.5vw;
    display: none;
    justify-content: space-around;
}

.selectedColors_item {
    display: flex;
}

.selectedColors_item_color {
    width: 18px;
    margin-left: 10px;
    border-radius: 50%;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px #272727;
}

.color:first-child {
    margin-left: 0px;
}
.closed {
    font-family: visbyround;
    display: flex;
    box-sizing: border-box;
    height: 8vh;
    cursor: pointer;
    background-color: #baabab;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 31px;
}

.branding {
    display: flex;
    font-family: 'Goldman';
    justify-content: center;
    font-size: 1.8em;
    height: 10vh;
}

.branding2 {
    font-family: 'Goldman';
    justify-content: center;
    font-size: 1.8rem;
    height: 10vh;
}

.branding__footer {
    font-size: 1rem;
}

.branding__footer__logo {
    margin-left: 10px;
    font-size: 1.8rem;
}

.closed > p {
    margin-left: 10%;
}

.borderForSidebar {
    border: 2px solid #947474;
}

.closed > img {
    margin-left: 15%;
    height: 55px;
    width: 55px;
}

.expanded > span {
    padding-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.backButton {
    /* position: absolute;
    width: 50vw;
    left: 50vw; */

    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url(../img/back.svg);
    background-repeat: no-repeat;
    z-index: 4;
}
.backButton:hover {
    height: 41px;
    width: 41px;
}

.taptotry {
    font-size: 8px;
}

.hamburger {
    position: absolute;
    top: 1%;
    z-index: 5;
    color: black;
    left: 1%;
}

.cross {
    display: none;
    position: absolute;
    top: 1%;
    color: #fff;
    z-index: 5;
    left: 1%;
}
.toggle {
    display: none;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 1440px) {
    .product img {
        width: 90px;
        height: 90px;
    }
    .product__title {
        height: 10%;
        font-weight: bold;
        font-size: 0.7rem;
        padding: 0.5em 0 0 0;
    }

    .product__content {
        font-size: 0.5em;
        color: #828282;
    }
    .color {
        width: 16px;

        height: 16px;
    }
    .product {
        width: 150px;
    }
    .shade {
        padding: 0.8em 2em;
        font-size: 0.7em;
    }
    .shades {
        width: 80dvw;
        overflow-x: scroll;
    }
    .closed {
        font-size: 0.8em;
    }
    .branding {
        font-size: 1.8em;
    }
    .branding2 {
        font-size: 0.5em;
    }
    .closed > img {
        height: 45px;
        width: 45px;
    }
    .cartContainer {
        height: 30dvh;
    }
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 1240px) {
    .product img {
        width: 75px;
        height: 75px;
    }
    .product__title {
        height: 10%;
        font-weight: bold;
        font-size: 0.7rem;
        padding: 0.5em 0 0 0;
    }

    .product__content {
        font-size: 0.5em;
        color: #828282;
    }
    .product {
        width: 140px;
    }
    .color {
        width: 16px;

        height: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .product img {
        width: 90px;
        height: 90px;
    }
    .product__title {
        height: 10%;
        font-weight: bold;
        font-size: 0.7rem;
        padding: 0.5em 0 0 0;
    }

    .product__content {
        font-size: 0.5em;
        color: #828282;
    }
    .product {
    }
    .color {
        width: 16px;

        height: 16px;
    }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 2560px) {
    .product img {
        width: 50%;
    }
}

@media only screen and (max-width: 786px) {
    .lp__categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .lp__section {
        flex-direction: column;
    }
    .category__img img {
        width: 25%;
    }
    .product {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        cursor: pointer;
        margin: 0.2em;
        background-color: #fff;
        border-radius: 8px;
    }
    .product img {
        width: 60px;
        height: 60px;
    }
    .page {
        width: 100dvw;
    }
    .toggle {
        display: block;
    }
    .sideBar {
        display: block;
        position: absolute;
        max-width: 50vw;
        width: 50vw;
    }
    /* .mainImage {
        width: 100vw;
    } */
    .expanded > span {
        font-size: 15px;
    }
    .closed {
        font-size: 16px;
    }

    .shade {
        padding: 0.6em 2em;
        font-size: 0.8em;
        display: flex;
        flex-direction: column;

        justify-content: center;
    }
    .shades {
        width: 90dvw;
        overflow-x: scroll;
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #baabab;
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .add_to_cart {
        margin: 0em;
        width: 50%;
        padding: 0.5em 0em;
    }
    .cartContainer {
        height: 30dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cart {
        height: 50%;

        overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #baabab;
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    .cart__item {
        display: flex;
        width: 95%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    .cart__item__img {
        width: 35px;
        height: 35px;
    }
    .cart__title {
        font-weight: 700;
        text-align: left;
        padding: 0.3em 0;
        font-size: 0.6em;
    }
    .cart__item__title {
        width: 55%;
        font-size: 0.7em;
    }

    .cart__item__price {
        font-weight: 900;
        font-size: 0.7em;
    }
}

@media screen and (min-width: 786px) {
    .sideBar {
        display: block;
    }
}

.aiRec {
    display: flex;
}

.black_race {
    padding: 5px 15px;
}
.brown_race {
    padding: 5px;
}
.white_race {
    padding: 5px;
}

.black_race > span {
    font-size: 1rem;
}

.brown_race > span {
    font-size: 1rem;
}
.white_race > span {
    font-size: 1rem;
}

.race-selected {
    background-color: #95929278;

    border-radius: 10px;
}
