@font-face {
    font-family: visbyround;
    src: url(visby.ttf);
}

body {
    margin: 0;
    font-family: visbyround;
}

.outerWrapper {
    width: 100vw;
    display: flex;
}

.processedImg {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.page {
    background-color: #ffffff;

    width: 80vw;

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;

    /* background-image: url("../img/samples.jpg"); */
}

.page_innerWrapper {
    width: 90%;
    margin: 0 auto;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
}

.mainImage_innerWrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #f5eded;
    width: 50%;
    height: 100%;
}

.products {
    width: 50%;

    background-color: azure;
}

.header {
    padding: 1em 0;
    font-size: 1.3em;
    text-align: left;
    align-items: center;
    display: flex;
    text-transform: capitalize;
}

.shades {
    height: 10%;
    padding: 1em 0;

    display: flex;
}
.shade {
    margin-right: 10px;
    padding: 0.7em 1.5em;
    background-color: #f5f6f6;
    text-transform: capitalize;
    border-radius: 5px;
    color: #828282;
    cursor: pointer;
    font-size: 0.8rem;
}
.shade:hover {
    background-color: #947474;
    color: #f5f6f6;
}

.page > img {
    object-fit: fill;
}

.sideBar {
    max-width: 70vw;
    width: 20vw;
    height: 20vh;
    display: none;
    z-index: 4;
    background-color: white;
}

.item__sidebar {
    align-items: center;
    text-align: center;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin-bottom: 10px;
}
.line > p {
    margin: -12px 0px 0px 0;
}

.colors {
    display: flex;
    flex-direction: row;
    margin-bottom: 12%;
}

.color {
    width: 21px;
    margin-left: 10px;
    border-radius: 50%;
    height: 21px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px #272727;
}

.addborder {
    box-sizing: border-box;
    border: 3px solid #f5eded;
    box-shadow: inset 0px 0px 0px 0px #272727;
}

.selectedColors {
    background-color: #d3d3d3;
    width: 70vw;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 2.5vw;
    display: none;
    justify-content: space-around;
}

.selectedColors_item {
    display: flex;
}

.selectedColors_item_color {
    width: 18px;
    margin-left: 10px;
    border-radius: 50%;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 1px #272727;
}

.color:first-child {
    margin-left: 0px;
}
.closed {
    font-family: visbyround;
    display: flex;
    box-sizing: border-box;
    height: 9vh;
    cursor: pointer;
    background-color: #baabab;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 0.95em;
    line-height: 31px;
}

.branding {
    display: flex;
    font-family: 'Goldman';
    justify-content: center;
    font-size: 1.2em;
    height: 5vh;
}
.closed > p {
    margin-left: 10%;
}

.borderForSidebar {
    border: 2px solid #947474;
}

.closed > img {
    margin-left: 15%;
    height: 40px;
    width: 40px;
}

.expanded > span {
    padding-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.backButton {
    /* position: absolute;
    width: 50vw;
    left: 50vw; */
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url(../img/back.svg);
    background-repeat: no-repeat;
    z-index: 4;
}
.backButton:hover {
    height: 41px;
    width: 41px;
}

.taptotry {
    font-size: 8px;
}

.hamburger {
    position: absolute;
    top: 1%;
    z-index: 5;
    color: #fff;
    left: 1%;
}

.cross {
    display: none;
    position: absolute;
    top: 1%;
    color: #fff;
    z-index: 5;
    left: 1%;
}
.toggle {
    display: none;
}
@media only screen and (max-width: 786px) {
    .toggle {
        display: block;
    }
    .sideBar {
        display: block;
        position: absolute;
        max-width: 50vw;
        width: 50vw;
    }
    .mainImage {
        width: 100vw;
    }
    .expanded > span {
        font-size: 15px;
    }
    .closed {
        font-size: 16px;
    }
}

@media screen and (min-width: 786px) {
    .sideBar {
        display: block;
    }
}

.aiRec {
    display: flex;
}

.black_race {
    padding: 5px 15px;
}
.brown_race {
    padding: 5px;
}
.white_race {
    padding: 5px;
}

.black_race > span {
    font-size: 1rem;
}

.brown_race > span {
    font-size: 1rem;
}
.white_race > span {
    font-size: 1rem;
}

.race-selected {
    background-color: #95929278;

    border-radius: 10px;
}
