<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recomandation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="main">
      <div class="row">
        <div class="column">
          <div
            class="insidecolumn"
            style="
              background-image: url('{{ url_for('static', filename='airecomendation.png')}}');
              background-repeat: no-repeat;
            "
          >
            <div class="text">AI RECOMENDATION</div>
          </div>
          <div
            class="insidelipstick"
            style="background-image: url('{{ url_for('static', filename='lipstickbg.png')}}')"
          >
          <div class="text">LIPSTICK</div>
          <div id="myDiv"></div>
          <button>ADD TO CART</button>
        </div>
          <div
            class="insidecolumn"
            style="
              background-image: url('{{ url_for('static', filename='foundationbg.png')}}');
              background-repeat: no-repeat;
            "
          >
            <div class="text">FOUNDATION</div>
          </div>
          <div
            class="insidecolumn"
            style="
              background-image: url('{{ url_for('static', filename='concelerbg.png')}}');
              background-repeat: no-repeat;
            "
          >
            <div class="text">CONCEALER</div>
          </div>
          <div
            class="insidecolumn"
            style="
              background-image: url('{{ url_for('static', filename='blushbg.png')}}');
              background-repeat: no-repeat;
            "
          >
            <div class="text">BLUSH</div>
          </div>
          <div
            class="insidecolumn"
            style="
              background-image: url('{{ url_for('static', filename='mascarabg.png')}}');
              background-repeat: no-repeat;
            "
          >
            <div class="text">MASCARA</div>
          </div>
          <div
            class="insidecolumn"
            style="
              background-image: url('{{ url_for('static', filename='eyebrowbg.png')}}');
              background-repeat: no-repeat;
            "
          >
            <div class="text">EYEBROW LINER</div>
          </div>
          <div
            class="insidecolumn"
            style="
              background-image: url('{{ url_for('static', filename='haircolorbg.png')}}');
              background-repeat: no-repeat;
            "
          >
            <div class="text">HAIR COLOUR</div>
          </div>
          </div>
          <div class="main">
          <div class="columns" style="background-image:url('{{ url_for('video_feed') }}')">
            <div class="icons">
              <a href="/">
              <div class="circle">
                    <img src="{{ url_for('static', filename='leftarrow.png') }}" alt="icon not display">

              </div>
            </a>
              <div class="circle">
                <img src="{{ url_for('static', filename='rightarrow.png') }}" alt="icon not display">
              </div>
            </div>
          </div>
          <div class="footer">
            <span>YOUR CART</span>
        <div class="icon">
          <img src="{{ url_for('static', filename='cart.png') }}" class="icon" />
        </div>
    </div>
        </div>
          
        </div>
      </div>
    </div>
  </div>
  </body>
  <script>

    let objects = [
    {
      heading: "SHEER",
      colors: ["#FD0000", "#FF3B3B", "#FF5C5C", "#FD0000", "#FCB9B9", "#FFD0D0"],
    },
    {
      heading: "MATTE",
      colors: ["#FE007A", "#FF3A8D", "#FF66B9", "#FC6AFF", "#FF9DEF", "#FFD0F8"],
    },
    {
      heading: "GLOSSY",
      colors: ["#FD0000", "#FF3B3B", "#FF5C5C", "#FD0000", "#FCB9B9", "#FFD0D0"],
    },
    {
      heading: "SHEER",
      colors: ["#FD0000", "#FF3B3B", "#FF5C5C", "#FD0000", "#FCB9B9", "#FFD0D0"],
    },
    {
      heading: "MATTE",
      colors: ["#FE007A", "#FF3A8D", "#FF66B9", "#FC6AFF", "#FF9DEF", "#FFD0F8"],
    },
    {
      heading: "GLOSSY",
      colors: ["#FD0000", "#FF3B3B", "#FF5C5C", "#FD0000", "#FCB9B9", "#FFD0D0"],
    },
    {
      heading: "SHEER",
      colors: ["#FD0000", "#FF3B3B", "#FF5C5C", "#FD0000", "#FCB9B9", "#FFD0D0"],
    },
    {
      heading: "MATTE",
      colors: ["#FE007A", "#FF3A8D", "#FF66B9", "#FC6AFF", "#FF9DEF", "#FFD0F8"],
    },
    {
      heading: "GLOSSY",
      colors: ["#FD0000", "#FF3B3B", "#FF5C5C", "#FD0000", "#FCB9B9", "#FFD0D0"],
    },
  ]
  for (let i = 0; i < objects.length; i++) {
    let obj = objects[i];
    let line = document.createElement("div");
    line.classList.add("line");
  
    let heading = document.createElement("p");
    heading.textContent = obj.heading;
    line.appendChild(heading);
  
    let colorsDiv = document.createElement("div");
    colorsDiv.classList.add("colors");
  
    for (let j = 0; j < obj.colors.length; j++) {
      let colorDiv = document.createElement("div");
      colorDiv.classList.add("color");
      colorDiv.style.backgroundColor = obj.colors[j];
      // add click event listener to each color div
      colorDiv.addEventListener("click", function () {
        console.log(colorDiv.style.backgroundColor);

        // NEW
        data = colorDiv.style.backgroundColor;
        data =  data.split("rgb");
        data = "lipstick_color=" + data[1];

        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/recommendation_data", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(data);
        //

      });
      colorsDiv.appendChild(colorDiv);
  
      if ((j + 1) % 6 === 0 && j !== obj.colors.length - 1) {
        let row = document.createElement("div");
        row.classList.add("row");
        colorsDiv.appendChild(row);
      }
    }
    line.appendChild(colorsDiv);
  
    document.body.appendChild(line);
    document.getElementById("myDiv").appendChild(line);
  }
    </script>
</html>
